<h1>Listing Drafts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Published at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drafts.each do |draft| %>
      <tr>
        <td><%= draft.title %></td>
        <td><%= draft.body %></td>
        <td><%= draft.published_at %></td>
        <td><%= link_to 'Publish', toggle_path(draft), method: :put %></td>
        <td><%= link_to 'Edit', edit_post_path(draft) %></td>
        <td><%= link_to 'Destroy', draft, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Home', posts_path %>

<br>
